name: DebugBuild
on:
  push:
   branches:
    - master

env: 
 SOLUTION_FILE_PATH: 3DActionProject.sln
 CONFIGURATION: Debug

jobs: 
 build:
  runs-on: windows-2022

  steps:
   - name: Checkout with Submodules
     uses: actions/checkout@v4
     with:                                                                            
       submodules: recursive
       token: ${{ secrets.GITHUB_TOKEN }}
       fetch-depth: 0 

   - name: Add MSBuild to PATH
     uses: microsoft/setup-msbuild@v2
     with:
      msbuild-architecture: x64

   - name: Build
     run: msbuild ${{env.SOLUTION_FILE_PATH}} /p:Platform=x64,Configuration=${{env.CONFIGURATION}}
